<!-- Jeremy -->

<div class="jumbotron jumbotron-fluid mb-0" style="background-color: gainsboro">
  <div class="container">
    <h1 class="display-4">Employee Home</h1>
    <p class="lead"></p>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">




      <!-- Calendar Section -->

      <div class="row text-center my-2">
        <div class="col">
          <h3>Today's Date: {{ date.month }}.{{ date.year }}</h3>
        </div>
      </div>

      <div class="row text-center my-2">
        <div class="col">
          <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
        </div>
      </div>
      <div class="row text-center my-2">
        <div class="col">
          <button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select Today</button>
          <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo()">To current month</button>
        </div>
      </div>
      <div class="row my-2">
        <div class="col">
          <div class="list-group m-2">
            <div>
              <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div>
                  <div *ngFor="let e of allEvents" class="row border-bottom">
                    <div class="col">
                      <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1">{{ e.memberId }}</h6>
                      </div>
                      <small>{{ e.type }}</small>
                    </div>
                    <div class="col">
                      <p class="mb-1">Day: {{ e.day }} </p>
                      <small>{{ e.timeslot }}</small>
                    </div>
                    <div class="col-md-3">
                      <!-- allows the employee to open a modal to view the individual member's information and items -->
                      <button type="button" class="btn btn-outline-dark btn-lg btn-block" (click)="deleteEvent(e.eventId)" >Delete</button>
                    </div>

                    <!-- <form *ngIf="{{ e.memberId }}"">
                                        <div class=" form-group">
                      <div class="row">
                        <div class="col">
                          <label for="firstname" class="col-form-label">Firstname:</label>
                        </div>
                        <div class="col">
                          <p>George</p>
                        </div>
                        <div class="col">
                        </div>
                      </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col">
                        <label for="lastname" class="col-form-label">Lastname:</label>
                      </div>
                      <div class="col">
                        <p>Forman</p>
                      </div>
                      <div class="col">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col">
                        <label for="type1" class="col-form-label">Type:</label>
                      </div>
                      <div class="col">
                        <p>Installation</p>
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" id="type1" placeholder="Change Type" aria-label="Type"
                          data-toggle="tooltip" data-placement="bottom" title="Type" required="true">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col">
                        <label for="type1" class="col-form-label">Date:</label>
                      </div>
                      <div class="col">
                        <p>1.1.2019</p>
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" id="date1" placeholder="Change Date" aria-label="Date"
                          data-toggle="tooltip" data-placement="bottom" title="Date" required="true">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col">
                        <label for="type1" class="col-form-label">Timeslot:</label>
                      </div>
                      <div class="col">
                        <p>5PM</p>
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" id="timeslot" placeholder="Change Timeslot" aria-label="Type"
                          data-toggle="tooltip" data-placement="bottom" title="TimeSlot" required="true">
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="col">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col">
                      <button type="submit" name="submit" class="btn btn-primary btn-block">Save
                        Updates</button>
                    </div>
                  </div>
                  </form> -->
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>









    </div>
    <div class="col">
      <!-- two buttons that toggle between User Info and User Items -->
      <div class="row">
        <div class="col m-2">
          <button type="button" class="btn btn-outline-dark btn-lg btn-block" label="Click" (click)="toggleInfo()">Member List</button>
        </div>
        <div class="col m-2">
          <button type="button" class="btn btn-outline-dark btn-lg btn-block" label="Click" (click)="toggleItems()">Purchased List</button>
        </div>
      </div>
      <div *ngIf="showMemList">
        <div class="row">
          <h1>Members List</h1>
        </div>
        <!-- displays each member that is associated with the employee -->
        <div class="row">
          <div class="col">
            <div>
              <div class="list-group m-2">
                <div>
                  <a class="list-group-item list-group-item-action flex-column align-items-start">
                    <div *ngFor="let m of members" class="row">
                      <div class="col">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">{{m.firstName}} {{m.lastName}}</h5>
                        </div>
                      </div>
                      <div class="col">
                        <p class="mb-1">{{m.email}}</p>
                      </div>
                      <div class="col">
                        <p class="mb-1">{{m.phone}}</p>
                      </div>
                      <div class="col">
                        <p class="mb-1">{{m.employeeStatus}}</p>
                      </div>
                      <div class="col">
                        <p class="mb-1">{{m.username}}</p>
                      </div>
                      <div class="col-md-2">
                        <!-- allows the employee to open a modal to view the individual member's information and items -->
                        <button type="button" class="btn btn-outline-dark btn-lg btn-block" data-toggle="modal"
                          data-target="#1">View Items</button>
                      </div>
                      <!-- Modal for viewing an employees info -->
                      <div class="modal fade" id="1" tabindex="-1" role="dialog" aria-labelledby="viewMemeberModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Member Info</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="col">
                                <p class="mb-1">{{m.firstName}}</p>
                              </div>
                              <form>
                                <div class="form-group">
                                  <label for="lastname" class="col-form-label">Lastname:</label>
                                  <input type="text" class="form-control" id="lastname" placeholder="Lastname"
                                    aria-label="Lastname" data-toggle="tooltip" data-placement="bottom" title="Lastname"
                                    required="true">
                                </div>
                                <div class="form-group">
                                  <label for="username" class="col-form-label">Username:</label>
                                  <input type="username" class="form-control" id="username1" placeholder="Username"
                                    aria-label="Username" data-toggle="tooltip" data-placement="bottom" title="Username"
                                    required="true">
                                </div>
                                <div class="form-group">
                                  <label for="email" class="col-form-label">Email:</label>
                                  <input type="email" class="form-control" id="email" placeholder="Email" aria-label="Email"
                                    data-toggle="tooltip" data-placement="bottom" title="Email" required="true">
                                </div>
                                <div class="form-group">
                                  <label for="password" class="col-form-label">Password:</label>
                                  <input type="password" class="form-control" id="password1" placeholder="Password"
                                    aria-label="Password" data-toggle="tooltip" data-placement="bottom" title="Password"
                                    required="true" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 6 characters' : ''); if(this.checkValidity()) form.confirmPassword.pattern = this.value;">
                                </div>
                                <div class="form-group">
                                  <label for="confirmPassword" class="col-form-label">Confirm Password:</label>
                                  <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password"
                                    aria-label="Confirm Password" data-toggle="tooltip" data-placement="bottom" title="Confirm Password"
                                    required="true" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');">
                                </div>
                                <div class="modal-footer">
                                  <div class="col">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                  </div>
                                  <div class="col">
                                    <button type="submit" name="submit" class="btn btn-primary btn-block">Save Updates</button>
                                  </div>
                                </div>
                              </form>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </a><!-- modal used to view the individual member's infomation and items -->
                </div>

                <a class="list-group-item flex-column align-items-start">
                  <div class="row">
                    <div class="col">
                    </div>
                    <div class="col">
                    </div>
                    <div class="col-md-2">
                      <!-- allows the employee to open a modal to add a new member -->
                      <button type="button" class="btn btn-outline-dark btn-lg btn-block" data-toggle="modal"
                        data-target="#addMemberModal">Add
                        a New Member</button>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- displays all the pruchased items if the Items button is pressed above -->
      <div *ngIf="showPurchased">
        <div class="row">
          <h1>All Products Pruchased</h1>
        </div>
        <div class="list-group">
          <a *ngFor="let i of item" href="" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{purchased.quantity}} {{i.productName}}</h5>
            </div>
            <p class="mb-1">{{i.description}}</p>
            <small>{{i.specs}}</small>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- model used to add a new member -->
<div class="modal fade" id="addMemberModal" tabindex="-1" role="dialog" aria-labelledby="addMemeberModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a New Member</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="firstname" class="col-form-label">Firstname:</label>
            <input type="text" class="form-control" id="firstname" placeholder="Firstname" aria-label="Firstname"
              data-toggle="tooltip" data-placement="bottom" title="Firstname" required="true">
          </div>
          <div class="form-group">
            <label for="lastname" class="col-form-label">Lastname:</label>
            <input type="text" class="form-control" id="lastname" placeholder="Lastname" aria-label="Lastname"
              data-toggle="tooltip" data-placement="bottom" title="Lastname" required="true">
          </div>
          <div class="form-group">
            <label for="username" class="col-form-label">Username:</label>
            <input type="username" class="form-control" id="username1" placeholder="Username" aria-label="Username"
              data-toggle="tooltip" data-placement="bottom" title="Username" required="true">
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Email" aria-label="Email" data-toggle="tooltip"
              data-placement="bottom" title="Email" required="true">
          </div>
          <div class="form-group">
            <label for="phone" class="col-form-label">Phone:</label>
            <input type="phone" class="form-control" id="phone" placeholder="Phone" aria-label="Phone" data-toggle="tooltip"
              data-placement="bottom" title="Phone" required="true">
          </div>
          <div class="form-group">
            <label for="password" class="col-form-label">Password:</label>
            <input type="password" class="form-control" id="password1" placeholder="Password" aria-label="Password"
              data-toggle="tooltip" data-placement="bottom" title="Password" required="true" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 6 characters' : ''); if(this.checkValidity()) form.confirmPassword.pattern = this.value;">
          </div>
          <div class="form-group">
            <label for="confirmPassword" class="col-form-label">Confirm Password:</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" aria-label="Confirm Password"
              data-toggle="tooltip" data-placement="bottom" title="Confirm Password" required="true" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');">
          </div>
          <div class="modal-footer">
            <div class="col">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
            <div class="col">
              <button type="submit" name="submit" class="btn btn-primary btn-block">Save Updates</button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>