<div class="jumbotron jumbotron-fluid mb-0" style="background-color: gainsboro">
  <div class="container">
    <h1 class="display-4">Welcome {{ firstname }}!</h1>
    <p class="lead"></p>
  </div>
</div>
<div class="row ml-2">
  <div class="col-md-3">
    <h1>this is the calendar</h1>
  </div>
  <div class="col-md-9 showcase-img">
    <div class="row">
      <img src="assets/img/374114-download-free-scenic-backgrounds-1920x1080.jpg" style="height: 300px; width: 100%">
    </div>
    <div class="row">

    </div>
  </div>
</div>