<footer class="page-footer" style="background-color: gainsboro">
  <div class="container">
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!" style="color: black">About us</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!" style="color: black">Products</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!" style="color: black">Contact Us</a>
        </h6>
      </div>
    </div>
    <hr class="rgba-white-light" style="margin: 0 15%;">
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
      <div class="col-md-8 col-12 mt-3">
        <p style="line-height: 1.1rem; font-size: 0.85em">DISCLAIMER: High Tech Industries and any of its associations are not responsible for any negative
          consequences resulting from products and/or services related to High Tech Industries. Negative consequences include but are not limited
          to: false security triggers, inaccurate facial recognition, faulty targeting, corrupted files, property damage, bodily damage, emotional damage, sentient
          software, sentient hardware, unwanted criminal activities, defenestration, electrical overloads, loitering charges, any and all federal offenses, terminal 
          illness, unexplained hairloss, eyesight and/or hearing loss, and stolen personal items.</p>
      </div>
    </div>
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
  </div>
  <div class="footer-copyright text-center py-3">© 2018 High Tech Industries
  </div>
</footer>